//colors

$textColorMain: rgb(255, 255, 253);
$backgroundMain:#02040c;
$backgroundSecond:#a78302;
$backgroundThird:rgb(6, 10, 36);
$extra:#48a4c0;
$highlight:#ece03b;
$gradient:linear-gradient(0deg, rgb(12, 9, 2) 0%, rgb(26, 19, 4) 15%, #a78302 100%);


//components
$mainShadow:0 3px 12px 5px #f4b24770;
$transitSpeed: 0.3s;

//font stack
$mainFont: 'Gentium Book Basic',
serif; // aux font'Jua', sans-serif
$altFont: 'Jua',
sans-serif;

// mixins

@mixin glassBack() {
    background: #ac936844;
    box-shadow: $mainShadow;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}



// set txt color
//@function set-text-color($color) {
//    @if(lightness($color) > 70) {
//        @return #333;
//    }
//
//    @else {
//        @return $textColorMain;
//    }
//}