//colors

$textColorMain: rgb(255, 255, 253);
$backgroundMain:rgb(9, 2, 12);
$backgroundSecond:#6868acad;
$backgroundThird:rgb(19, 4, 26);
$extra:#48a4c0;
$highlight:#ece03b;
$gradient:linear-gradient(90deg, rgb(14, 14, 5) 0%, rgb(19, 48, 51) 35%, rgb(62, 35, 92) 100%);


$transitSpeed: 0.3s;

//font stack
$mainFont: 'Gentium Book Basic', serif; // aux font'Jua', sans-serif
$altFont: 'Jua', sans-serif;

// mixins

@mixin glassBack() {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 12px 3px $backgroundSecond;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}



// set txt color
//@function set-text-color($color) {
//    @if(lightness($color) > 70) {
//        @return #333;
//    }
//
//    @else {
//        @return $textColorMain;
//    }
//}